
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff7e79, #ffb6b3);
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #ff7e79;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

.heart {
    font-size: 3em;
    color: #ff7e79;
    animation: heartbeat 1s infinite;
}

.btn {
    display: inline-block;
    background-color: #ff7e79;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff5e5e;
}


#fotos {
    margin-top: 20px;
}

#fotos h2 {
    font-size: 1.5em;
    color: #ff7e79;
    margin-bottom: 10px;
}

.foto {
    width: 80%;
    max-width: 300px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@keyframes heartbeat {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}
